---
import { Image } from "astro:assets";
import photo from "../../public/photo.webp";
import SocialNetwork from "./SocialNetwork.astro";
import Email from "../components/Email";
import linkedinLogo from "../assets/social/linkedin.svg";
import githubLogo from "../assets/social/github.svg";
import instagramLogo from "../assets/social/ig.svg";
import cv from "../assets/cv/Moises-Obando-Front-end.pdf";
---

<section
  class="min-h-screen flex flex-col sm:flex-row justify-center items-center gap-5 "
>
  <figure class="w-1/2">
    <Image
      src={photo}
      alt="Moises Obando"
      width="1542"
      height="2000"
      loading="eager"
      class="rounded-full w-full h-auto shadow-[#4477CE] shadow-md border-[#4477CE]"
      quality={"high"}
      format="webp"
    />
  </figure>
  <div class="flex-col w-full text-center space-y-4">
    <div class="space-y-2">
      <h1 class="text-2xl sm:text-4xl">
        <span class="text-[#4477CE]">{"< "}</span>
         I'm Moises Obando
        <span class="text-[#4477CE]">{" />"}</span>
      </h1>
      <p class="text-sm sm:text-base text-gray-300 px-0">
        Skilled <strong>Front End Developer with +2 years</strong> of
        professional experience and a deep passion for the <strong
          >iGaming industry</strong
        >. I love creating immersive and amazing websites through carefully
        crafted code and user-centric design.
      </p>
    </div>
    <div class="flex justify-center">
      <a
        href={cv}
        download
        class="border-b-2 border-t-2 border-[#4477CE] rounded-md py-2 px-12 hover:bg-[#061A40]"
      >
        DOWNLOAD CV
      </a>
    </div>
    <figure class="flex flex-row justify-center gap-2">
      <SocialNetwork
        name="LinkedIn"
        logo={linkedinLogo}
        url="https://www.linkedin.com/in/moises-obando/"
      />
      <SocialNetwork
        name="GitHub"
        logo={githubLogo}
        url="https://github.com/Lunox-code"
      />
      <SocialNetwork
        name="Instagram"
        logo={instagramLogo}
        url="https://www.instagram.com/lunox.code/"
      />
    </figure>
    <div class="flex flex-col items-center justify-center">
      <Email client:idle />
    </div>
  </div>
</section>
