---
import { Image } from "astro:assets";
import data from "../data/data";
---

<section
  class="min-h-screen flex flex-col justify-center items-center space-y-10 mb-40"
>
  <h2 class="text-2xl sm:text-3xl">PROJECTS</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-14">
    {
      data.projects.map((info) => (
        <figure>
          <Image
            src={info.img}
            alt={info.name}
            width="800"
            height="800"
            class="rounded-lg w-full h-60 border"
            loading="lazy"
            format="webp"
          />
          <figcaption class="font-semibold text-base text-start mt-4">
            {info.name.toUpperCase()}
          </figcaption>
          <p class="text-sm sm:text-base text-gray-300 mt-2">
            {info.description}
          </p>
          <div class="flex mt-6">
            <a
              href={info.url}
              target="_blank"
              rel="noreferrer noopener nofollow"
              class="py-3 border-b-2 border-t-2 rounded-lg border-[#4477CE] w-full text-center hover:bg-[#061A40]"
            >
              Explore {info.btnname}
            </a>
          </div>
        </figure>
      ))
    }
  </div>
</section>

<!-- <section class="space-y-10">
  <h2 class="font-semibold text-4xl">Projects</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
    {
      data.projects.map((info) => (
        <div class="flex flex-col relative pb-24 space-y-4">
          <figure>
            <img
              src={info.img}
              alt={info.name}
              width="800"
              height="800"
              class="rounded-lg w-full h-40 border"
              loading="eager"
            />
            <figcaption class="font-semibold text-base text-start mt-3">
              {info.name.toUpperCase()}
            </figcaption>
          </figure>

          <p class="text-sm text-gray-400">{info.description}</p>

          <a
            href={info.url}
            target="_blank"
            rel="noreferrer nofollow"
            class="py-3 border-b-4 border-t-4 rounded-lg border-blue-600 w-full text-center hover:bg-[#061A40] hover:font-semibold absolute bottom-0"
          >
            Explore {info.btnname}
          </a>
        </div>
      ))
    }
  </div>
</section> -->
