---
import GTMTag from "../components/GTMTag.astro";
import "../styles/global.css";

const metadata = {
  title: "Moises Obando | iGaming Front End Developer - Web Portfolio",
  description:
    "Explore my web portfolio, a Front End Developer specialized in iGaming. Discover highlighted projects, skills, and more.",
  keywords:
    "Front End Developer, Web Developer, React JS, iGaming, Moises Obando, Web Portfolio, Latam Markets, Betcris",
};
---

<html lang="en">
  <head>
    <GTMTag />

    <meta charset="utf-8" />
    <link rel="icon" type="image" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <title>{metadata.title}</title>
    <meta name="description" content={metadata.description} />
    <meta name="keywords" content={metadata.keywords} />
    <link rel="canonical" href="https://moisesobando.com/" />
    <meta property="og:title" content={metadata.title} />
    <meta property="og:description" content={metadata.description} />
    <meta
      property="og:image"
      content="https://moisesobando.com/public/img/photo.webp"
    />
    <meta property="og:url" content="https://moisesobando.com" />
    <meta property="og:type" content="website" />
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-WDNMZMQM"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <slot />
  </body>
</html>
