---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Hotjar from "../components/Hotjar.astro";

const metadata = {
  title: "Moises Obando | iGaming Front End Developer - Web Portfolio",
  description:
    "Explore my web portfolio, a Front End Developer specialized in iGaming. Discover highlighted projects, skills, and more.",
  keywords:
    "Front End Developer, Web Developer, React JS, iGaming, moises obando, Web Portfolio, Latam Markets, Betcris, Moisés, Moses",
  url: "https://moisesobando.com/",
  img: "https://moisesobando.com/img/photo.webp",
};
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <title>{metadata.title}</title>
    <meta name="description" content={metadata.description} />
    <meta name="keywords" content={metadata.keywords} />
    <link rel="canonical" href={metadata.url} />
    <Hotjar />
    <meta property="og:title" content={metadata.title} />
    <meta property="og:description" content={metadata.description} />
    <meta property="og:image" content={metadata.img} />
    <meta property="og:url" content={metadata.url} />
    <meta property="og:type" content="website" />
  </head>
  <body>
    <div class="min-h-screen relative flex justify-center p-4">
      <div class="max-w-screen-lg -mt-16">
        <main>
          <slot />
        </main>
        <footer>
          <Footer />
        </footer>
      </div>
    </div>
  </body>
</html>
