---
import { ViewTransitions } from "astro:transitions";
import "@styles/global.css";

interface LayoutProps {
  title: string;
  description: string;
  canonicalUrl: string;
}

const meta = {
  img: "https://moisesobando.com/favicon.svg",
  url: "https://moisesobando.com/",
  sitename: "Moises Obando| Portfolio Web",
  creator: "Moises Obando",
};

const { img, url, sitename, creator } = meta;

const { title, description, canonicalUrl } = Astro.props as LayoutProps;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalUrl} />
    <link rel="apple-touch-icon" href="/favicon.svg" />

    <!-- Open Graph -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={img} />
    <meta property="og:type" content="Website" />
    <meta property="og:url" content={url} />
    <meta property="og:site_name" content={sitename} />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content={url} />
    <meta property="twitter:domain" content={url} />
    <meta property="twitter:url" content={url} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={img} />
    <meta name="twitter:creator" content={creator} />
    <ViewTransitions />
  </head>
  <body>
    <slot />
  </body>
</html>
